#main-container
{
  width: 100%;
}
.card
{
  margin: auto;
  margin-top: 50px;
  box-sizing: border-box;
  background-color: #134bb1;
  color: white;
  height: 200px;
  width: 30%;
  border-radius: 10px;
  text-align: center;
}
.card h2
{
  padding-top: 60px;
}
.card-anchor
{
  display: block;
  height: 200px;
  border-radius: 10px;
}
.card-anchor :hover, :active, :visited, :link
{
  text-decoration: none;
  color: white;
}
.card :hover
{
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 30px 0 rgba(0,0,0,0.5);
  background-color: powderblue;
  color: black;
}